@charset "UTF-8";

/*Todas as Midiast*/
/*Typical breakpoints
Pequenas telas: Até 600px
celular: de 600px ate 768px
Tablet: de 768px ate 992px
Desktop: 992px ate 1200px
Grandes telas:acima de 1200px
*/

@media screen and (min-width:768px) and (max-width:992px){
    main{
        width: 700px;
        height: 400px;
    }
    form{
        background-color: rgba(255, 255, 255, 0.893);
        display: grid;
        width: 400px;
        height: 380px;
        border-radius: 10px 0px 0px 10px;
        align-content: center;
        align-items: center;
        justify-items: center;
    }
    .texto{
        margin-bottom: 20px;
    }
}

@media screen and (min-width:993px) {
    main {
        width: 900px;
        height: 480px;
        display: grid;
        justify-content: end;
    }
    form{
        background-color: rgba(255, 255, 255, 0.9);
        display: grid;
        width: 400px;
        height: 460px;
        border-radius: 0px 10px 10px 0px;
        align-content: center;
        align-items: center;
        justify-items: center;
    }
    .texto{
        margin-bottom: 20px;
    }
}